src/main/mule/ado-fd-update.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="ado-fd-update-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ado-fd-update-config" api="resource::8cd1f13f-a715-46ef-a571-046930e0e5e3:ado-fd-update:1.0.1:raml:zip:ado-fd-update.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="cb1e574b-11bf-4814-b00c-a4d7a7deb263" basePath="/api/v2/tickets/">
		<http:request-connection host="packsize.freshdesk.com" protocol="HTTPS" tlsContext="TLS_Context"/>
	</http:request-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="a912999e-3949-45f2-ae8a-8ab20798e48c" >
		<tls:trust-store path="C:\Users\nikhil.acharya\AnypointStudio\Packsize\ADOFD\update-ado-fd\src\main\resources\freshdesk-truststore.jks" password="changeit" type="jks" />
	</tls:context>
	<flow name="ado-fd-update-main">
        <http:listener config-ref="ado-fd-update-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ado-fd-update-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ado-fd-update-console">
        <http:listener config-ref="ado-fd-update-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ado-fd-update-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\notes:application\json:ado-fd-update-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Note added successfully",
  addedNote: "This issue needs further investigation."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="8e5ff3af-f496-48a5-979b-e42e99c5ef9e" message="#[payload]" />
    </flow>
    <flow name="post:\status-change:application\json:ado-fd-update-config">
        <ee:transform doc:name="Transform Message" doc:id="97688acd-3a4e-40c7-a4a7-70d8becc0f2a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "ticket.id": payload.message.resource.revision.fields."Custom.FreshdeskTicketNumber",
  "ticket.status" : payload.message.resource.revision.fields."System.State"
  
  }]]></ee:set-payload>
            </ee:message>
			<ee:variables />
        </ee:transform>
        <choice doc:name="Choice" doc:id="9dad1a9e-dea2-41c7-9302-0110e791caa0" >
			<when expression='#[payload."ticket.status" == "Completed"]'>
				<ee:transform doc:name="Transform Message" doc:id="3c0eea0b-310e-4d46-a45a-514b01054833">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    id: (payload."ticket.id" as Number)
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="PUT" doc:name="Request" doc:id="a6e5c604-a881-4c71-b82b-d2217ef1bb27" config-ref="HTTP_Request_configuration1" path='#[payload.id]'>
					<http:body ><![CDATA[#[{
	"status" : 4
}]]]></http:body>
					<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Basic SmpWeDVIVGdHcWtXZDZlSWlnMw=",
	"Accept" : "*/*",
	"Accept-Encoding" : "gzip, deflate, br",
	"Content-Type" : "application/json",
	"Connection" : "keep-alive"
}]]]></http:headers>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="2acb1a4e-2ddb-405a-9139-4f1385840774" message="#[payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="30c18c8f-62cf-4145-b867-b77a03e60ab6" />
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\target-date:application\json:ado-fd-update-config">
        <ee:transform doc:name="Transform Message" doc:id="5506624d-b324-46ca-b57a-9f8e0883a4a2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request method="GET" doc:name="Request" doc:id="c14a1ae4-ae0f-4294-8a7f-debca3732e4d" path="/api/v2/tickets/" config-ref="HTTP_Request_configuration1"/>
        <logger level="INFO" doc:name="Logger" doc:id="2172a4fa-fc01-4756-be66-59a4b5da3272" message="#[payload]" />
    </flow>
</mule>
