src/main/mule/ado-fd-update.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="ado-fd-update-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ado-fd-update-config" api="resource::8cd1f13f-a715-46ef-a571-046930e0e5e3:ado-fd-update:1.0.1:raml:zip:ado-fd-update.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>
    <http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="20d87ed0-5678-4ca3-817c-6369c027c746" basePath="/api/v2/tickets/">
		<http:request-connection host="packsize.freshdesk.com" protocol="HTTPS"/>
	</http:request-config>
	<api-gateway:autodiscovery apiId="20060934" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="f5cecb3a-1fbe-4a24-a48f-0b83a7046a71" flowRef="ado-fd-update-main" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="19c1c673-2cbf-4d85-b428-577cf6153074" file="auth.properties" key="MyMuleSoftKey" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="ado-fd-update-main">
        <http:listener config-ref="ado-fd-update-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ado-fd-update-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ado-fd-update-console">
        <http:listener config-ref="ado-fd-update-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ado-fd-update-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\notes:application\json:ado-fd-update-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Note added successfully",
  addedNote: "This issue needs further investigation."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="0c764121-7309-40f4-bf07-0bef567e18db" message="#[payload]" />
    </flow>
	<flow name="post:\status-change:application\json:ado-fd-update-config">
        
        <!-- Transform the incoming payload as needed -->
        <logger level="INFO" doc:name="Logger" doc:id="15611c64-37e7-4cec-a5e2-6412826a1c13" message='#[payload.resource.revision.fields."Custom.FreshdeskTicketNumber"]'/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="parent-id" ><![CDATA[%dw 2.0
output application/json
---
{
  "ticket_id": (payload.resource.revision.fields."Custom.FreshdeskTicketNumber") as Number,
  "ticket_status" : payload.resource.revision.fields."System.State"
}]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
        
        <!-- Choice Router to check ticket status -->
        <logger level="INFO" doc:name="Logger" doc:id="a8b66b27-a189-4d6d-bdbf-37440a68d1c9" message='#[vars."parent-id"."ticket_id"]'/>
		<choice doc:name="Choice">
            <when expression='#[vars."parent-id"."ticket_status" == "Completed"]'>
                
                <!-- Transform to prepare HTTP request payload -->
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status" : 4,
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>

                <!-- HTTP Request to update ticket status in Freshdesk -->
                <http:request method="GET" config-ref="HTTP_Request_configuration1" path='#[vars."parent-id"."ticket_id"]' doc:name="HTTP Request">
                    <http:headers><![CDATA[#[output application/java
---
{
    "Authorization" : p('secure::status_change_headers'),
    "Content-Type" : "application/json",
    "Accept" : "*/*"
}]]]></http:headers>
                </http:request>

                <!-- Logger to log response from Freshdesk -->
                <logger level="INFO" doc:name="Logger" message="Response from Freshdesk: #[payload]" />

            </when>
            
            <otherwise>
                <logger level="INFO" message="Ticket status is not completed, no update sent to Freshdesk." />
            </otherwise>
        </choice>
    </flow>

    <flow name="post:\target-date:application\json:ado-fd-update-config">
        <ee:transform doc:name="Transform Message" doc:id="77fbc3ad-8f15-4873-8975-8a2e70fc1ae5">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="target_variable" ><![CDATA[%dw 2.0
output application/json
---
{
	"ticket_id": (payload.resource.revision.fields."Custom.FreshdeskTicketNumber") as Number,
    "target_date": payload.resource.revision.fields."Microsoft.VSTS.Scheduling.TargetDate" 
}
]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="eb443501-4065-4976-83a1-d130a5ea3e0d" message='Ticket ID: #[vars.target_variable.ticket_id] - Target Date: #[vars.target_variable.target_date]'/>
		<http:request method="GET" doc:name="Request" doc:id="eb0fa73d-3a45-41bc-a014-ec1851e57ff9" config-ref="HTTP_Request_configuration1" path="#[vars.target_variable.ticket_id]">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
    "due_by": vars.target_variable.target_date
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
    "Authorization" : p('secure::target_date_headers'),
    "Content-Type" : "application/json",
    "Accept" : "*/*"
}]]]></http:headers>
		</http:request>
        <logger level="INFO" doc:name="Logger" doc:id="e71cb01c-ee5d-4cfc-a48c-13652d8d67ae" message="#[payload]" />
    </flow>
</mule>